= partial 'change_nick'

= partial 'update_status'

- if @messages.empty?
  #no-messages Oh hai, there aren't any messages yet. Get posting!
- else
  #messages= partial 'message', :with => @messages
  = "<script type=\"text/javascript\">auto_update = true; last_message_id = #{@messages.map { |s| s.id }.max};</script>"